# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# ChromeDriver
chromedriver-mac-arm64/

# Data files
data/

# Visualization folders
14to24/
CityLimits/
CountyBoundaries/